<ion-content [fullscreen]="true">
  <div class="calc-main">
    <div class="calc-display">
    <!-- Línea de expresión -->
    <ion-input class="ion-text-end">{{ expression }}</ion-input>
    <ion-input class="ion-text-end" readonly [value]="value"></ion-input>
  </div>
    <!-- <div class="calc-display">
      <ion-input type="number" [(ngModel)]="value" class="ion-text-end" readonly></ion-input>
    </div> -->
    <ion-grid>
      <ion-row *ngFor="let buttonGroup of buttonGroups">
        <ion-col *ngFor="let button of buttonGroup">
          <ion-button shape="round" color="light" (click)="pressButton(button)">{{button}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>